{% extends 'base.html' %}


{%  block title %} 
      VIEW
      
     
      {% endblock title %}
    
      
{%  block body %}
{% for car in cars %}
<div class="row">
  <div class="col-6">
      <img src="{{car.image}}" >
  </div>
  <div class="col-6">
      <div class="row">
        <br><hr>
          <h3>{{ car.name }}</h3>
      </div>
      <div class="row">
        <br><hr>
        <h3>NRs.{{ car.price }}</h3>
      </div>
      <div class="row">
        <div class="col-3">
        <br><hr>
        <input type="text" class="form-control"  name ="quantity" placeholder="Enter quantity">
        
        </div>
      </div>
      <div class="row">
        <br> <hr>
        <div class="cols-4">
          <button type="submit" class="btn btn-primary">BUY</button>
          
          <button type="submit" class="btn btn-primary">Rating
          </button>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12 my-3">
      <h1>{{car.description}}</h1>
  </div>
</div>
{% endfor %}
{% endblock body %}